# Pandas Data
Pandas 를 이용해 Data 를 가공하는 법을 알아봅니다.

## Import
보통 pd 로 많이 사용합니다.

In [1]:
import pandas as pd

version 확인

In [2]:
pd.__version__

'1.1.5'

## Data 를 가공하기

### 데이터 다운로드

In [3]:
!wget https://github.com/Finfra/TensorflowStudyExample/raw/master/data/example.csv

--2021-08-18 14:33:32--  https://github.com/Finfra/TensorflowStudyExample/raw/master/data/example.csv
Resolving github.com (github.com)... 52.192.72.89
Connecting to github.com (github.com)|52.192.72.89|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/Finfra/TensorflowStudyExample/master/data/example.csv [following]
--2021-08-18 14:33:32--  https://raw.githubusercontent.com/Finfra/TensorflowStudyExample/master/data/example.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 61 [text/plain]
Saving to: ‘example.csv’

example.csv         100%[===================>]      61  --.-KB/s    in 0s

2021-08-18 14:33:33 (1.47 MB/s) - ‘example.csv’ saved [61/61]

### CSV 데이터 읽어오기

In [4]:
df = pd.read_csv("./example.csv")
df

    a   b  c  d  e
0   1   2  3  4  5
1   6   1  2  3  4
2   7   8  9  0  9
3   4   5  6  7  8
4  11  13  8  5  5

### 특정조건으로 데이터를 정렬하기

In [5]:
df.sort_values(by=["d"])

    a   b  c  d  e
2   7   8  9  0  9
1   6   1  2  3  4
0   1   2  3  4  5
4  11  13  8  5  5
3   4   5  6  7  8

### DROP 을 통해 데이터 없애기
inplace 옵션을 True 를 주면 자체 데이터에 바로 영향을 주고 False 를 하게 되면 해당 데이터에는 영향을 미치지 않는다.

In [6]:
drop_df = df.drop(['e'], axis=1, inplace=False)
drop_df

    a   b  c  d
0   1   2  3  4
1   6   1  2  3
2   7   8  9  0
3   4   5  6  7
4  11  13  8  5

### 열 추가하기

In [7]:
add_col = ['좋아', '가는', '거야','신나', '좋아']
df['say'] = add_col
df

    a   b  c  d  e say
0   1   2  3  4  5  좋아
1   6   1  2  3  4  가는
2   7   8  9  0  9  거야
3   4   5  6  7  8  신나
4  11  13  8  5  5  좋아

### 행 추가하기

append 를 이용한 행 데이터 추가<BR>
(Index 가 간혹 int 형태로 들어가서 깨지는 경우가 있다.)

In [8]:
new_data = {'a':2, 'b' : 3, 'c' : 4, 'd' : 8, 'e' : 3, 'say' : '슬퍼'}
ef = df.append(new_data, ignore_index=True)
ef

    a   b  c  d  e say
0   1   2  3  4  5  좋아
1   6   1  2  3  4  가는
2   7   8  9  0  9  거야
3   4   5  6  7  8  신나
4  11  13  8  5  5  좋아
5   2   3  4  8  3  슬퍼

아예 index를 지정한 데이터를 추가하는 방법이 있다.<BR>
(중복되는 index가 생겨날 수 있으니 주의해야 한다.)

In [9]:
ihave = [(4,5,3,4,2,'슬퍼')]
new_data = pd.DataFrame(ihave, columns=df.columns, index=[5])
ef = df.append(new_data)
ef

    a   b  c  d  e say
0   1   2  3  4  5  좋아
1   6   1  2  3  4  가는
2   7   8  9  0  9  거야
3   4   5  6  7  8  신나
4  11  13  8  5  5  좋아
5   4   5  3  4  2  슬퍼

loc 을 이용한 추가<BR>
(Index 를 내가 지정하기 때문에 위와 마찬가지로 깨지지 않게 해줄 수 있다. 다만, 원래 존재하는 키를 지정하는 경우 업데이트가 되므로 주의가 필요하다.)

In [10]:
df.loc[8]=[2, 3, 4, 8, 3, '이나']
df

    a   b  c  d  e say
0   1   2  3  4  5  좋아
1   6   1  2  3  4  가는
2   7   8  9  0  9  거야
3   4   5  6  7  8  신나
4  11  13  8  5  5  좋아
8   2   3  4  8  3  이나

### Merge
Merge 함수를 통해 DBMS 의 Join 과 같은 효과를 가져올 수 있다.

In [11]:
df1 = pd.DataFrame([["a","잘함","잘함"],["b","잘함","못함"],["c","못함","잘함"]], columns = ["이름","축구","농구"])
df1

  이름  축구  농구
0  a  잘함  잘함
1  b  잘함  못함
2  c  못함  잘함

In [12]:
df2 = pd.DataFrame([["a","잘함"],["b","못함"],["d","잘함"]], columns = ["이름","배구"])
df2

  이름  배구
0  a  잘함
1  b  못함
2  d  잘함

#### Inner

In [13]:
pd.merge( left = df1, right = df2, how = "inner", on = "이름")

  이름  축구  농구  배구
0  a  잘함  잘함  잘함
1  b  잘함  못함  못함

#### Left

In [14]:
pd.merge(left = df1, right = df2, how = "left", on = "이름")

  이름  축구  농구   배구
0  a  잘함  잘함   잘함
1  b  잘함  못함   못함
2  c  못함  잘함  NaN

#### Right

In [15]:
pd.merge(left = df1, right = df2, how = "right", on = "이름")

  이름   축구   농구  배구
0  a   잘함   잘함  잘함
1  b   잘함   못함  못함
2  d  NaN  NaN  잘함

#### Outer

In [16]:
pd.merge(left = df1, right = df2, how = "outer", on = "이름")

  이름   축구   농구   배구
0  a   잘함   잘함   잘함
1  b   잘함   못함   못함
2  c   못함   잘함  NaN
3  d  NaN  NaN   잘함

#### Index 를 기준으로 합치기

In [17]:
df1 = df1.set_index("이름")
df2 = df2.set_index("이름")
df2

    배구
이름
a   잘함
b   못함
d   잘함

In [18]:
pd.merge(left=df1, right=df2, left_index=True, right_index=True, how = "inner")

    축구  농구  배구
이름
a   잘함  잘함  잘함
b   잘함  못함  못함

In [19]:
pd.concat([df1,df2],axis =1, join="inner")

    축구  농구  배구
이름
a   잘함  잘함  잘함
b   잘함  못함  못함

## Correlation
[Pearson Correlation Coefficient](https://en.wikipedia.org/wiki/Pearson_correlation_coefficient)를 구할 수 있는 corr(), corrwith() 함수를 제공합니다. 이들 함수를 groupby() 와 apply(lambda func)를 함께 사용함으로써 그룹 별 변수 간 상관계수를 구할 수 있습니다. 

출처:  [R, Python 분석과 프로그래밍의 친구 (by R Friend)](https://rfriend.tistory.com/405)

In [20]:
lst = [[1,2,3,4,5,6,7],
        [10,15,20,25,50,55,60],
        [0,0,0,0,0,0,0],
        [-1,-20,-30,-45,-50,-55,-70]]

df = pd.DataFrame(lst).T
corr = df.corr(method = 'pearson')
print(corr)

print(corr.index[abs(corr[3])>=0.45])

          0         1   2         3
0  1.000000  0.966282 NaN -0.983120
1  0.966282  1.000000 NaN -0.917002
2       NaN       NaN NaN       NaN
3 -0.983120 -0.917002 NaN  1.000000
Int64Index([0, 1, 3], dtype='int64')

## Normalization
데이터가 가진 feature의 스케일이 심하게 차이가 나는 경우 문제가 되기 때문에 모든 데이터 포인트가 동일한 정도의 스케일(중요도)로 반영되도록 해주는 게 정규화(Normalization)의 목표이다.

출처. [아무튼 워라벨](http://hleecaster.com/ml-normalization-concept/)

### Basic

In [21]:
def norm(x):
  _max = x.max()
  _min = x.min()
  _denom = _max - _min
  return (x - _min) / _denom

### Pandas

In [22]:
from sklearn.preprocessing import MinMaxScaler
lst = [[1,2,3,4,5,6,7],
        [10,15,20,25,50,55,60],
        [0,0,0,0,0,0,0],
        [-1,-20,-30,-45,-50,-55,-70]]
df = lst
min_max_scaler = MinMaxScaler()
fitted = min_max_scaler.fit(df)
print(fitted.data_max_, fitted.data_min_)

output = min_max_scaler.transform(df)
print(output)

[10. 15. 20. 25. 50. 55. 60.] [ -1. -20. -30. -45. -50. -55. -70.]
[[0.18181818 0.62857143 0.66       0.7        0.55       0.55454545
  0.59230769]
 [1.         1.         1.         1.         1.         1.
  1.        ]
 [0.09090909 0.57142857 0.6        0.64285714 0.5        0.5
  0.53846154]
 [0.         0.         0.         0.         0.         0.
  0.        ]]